/* General Body Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  color: #34495e;
  padding: 20px;
  margin: 0;
}

/* Headings Styles */
h1,
h2 {
  color: #2c3e50;
  margin-bottom: 10px;
}

/* Form Container */
form {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* File Input Styles */
input[type="file"] {
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin: 15px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f9fa;
  font-size: 16px;
  color: #495057;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}

input[type="file"]::before {
  content: 'Choose File';
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

input[type="file"]:hover::before {
  background-color: #2980b9;
}

input[type="file"]:focus {
  outline: none;
  border-color: #2980b9;
}

/* Hide the original file input button */
input[type="file"]::-webkit-file-upload-button {
  display: none;
}


/* Table Styles */
.table {
  margin-top: 20px;
}

.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e1f5fe;
}

/* Button Styles */
button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
  font-size: 16px;
}

button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
}

button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

/* Unordered List Styles */
ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

/* Inferred Data Types Section */
.inferred-data-types {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.inferred-data-types h2 {
  margin-bottom: 15px;
  color: #2980b9;
}

/* List of Data Types */
.inferred-data-types ul {
  padding: 0;
  margin: 0;
}

.inferred-data-types li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 1px solid #d1ecf1;
  border-radius: 5px;
  background-color: #effdffdc;
  margin-bottom: 10px;
}

.inferred-data-types select {
  padding: 5px;
  border: 1px solid #8bc3e8;
  border-radius: 5px;
  background-color: white;
  transition: border-color 0.3s;
}

.inferred-data-types select:focus {
  border-color: #3498db;
  outline: none;
}

/* Conversion Button */
.inferred-data-types button {
  margin-top: 10px;
}

.convert-data-types {
  height: 300px;
  overflow-y: auto;
  border: 0.5px solid #ccc;
  padding: 10px;
}


/* Message Container */
.message {
  margin-top: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Success Message */
.message.success {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

/* Error Message */
.message.error {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}

/* Info Message */
.message.info {
  background-color: #eaf8fe;
  border: 1px solid #bee5eb;
  color: #0c5460;
}

/* Message Title */
.message h2 {
  margin: 0;
  font-size: 1.25em;
}

/* Message Paragraph */
.message p {
  margin: 5px 0;
}

/* Conversion Errors */
.conversion-errors {
  background-color: #f2d7d5;
  border: 1px solid #e74c3c;
  color: #c0392b;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}